/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/jhipster_family_member_0_head-256.png') center top;
  background2: url('/content/images/macandcheese.png') right top;
     background-size: contain;
     background2-size: contain;
}
